* {
  box-sizing: border-box;
}
header {
  overflow-x: hidden;

}

body {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-image: url("https://maldenaccess.files.wordpress.com/2016/11/sky-web-background.jpg");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 2.5em;
  color: white;
  animation: 3s infinite alternate slidein;
}
h2 {
  margin: 10px;
  border: outset 5px;
  font-size: 1.5em;
  padding: 15px;
  background-color: white;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

section {
  clear: both;
}

ul,
li {
  padding: 0;
  list-style: none;
}

#grid-floats .grid-item {
  float: left;
}
.grid-item {
  border: outset 5px;
  margin: 10px;
  height: 500px;
  text-align: center;
  padding: 20px;
  background-color: white;
}

.grid-item:nth-child(1) {
  border: double 15px;
}

#grid-flex {
  display: flex;
  flex-flow: row wrap;
}
img {
  width: 70%;
}

/* desktop version */
@media (min-width: 1025px) {
  .grid-item {
    width: calc(25% - 20px);
  }
  .grid-item:nth-child(1) {
    width: calc(50% - 20px);
  }
}
/* tablet version */
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-item {
    width: calc(100% / 3 - 20px);
  }
  .grid-item:nth-child(-n + 2) {
    width: calc(50% - 20px);
  }
}
/* mobile version */
@media (max-width: 767px) {
  .grid-item {
    width: calc(50% - 20px);
    overflow-y: scroll;
  }
  .grid-item:nth-child(1) {
    width: calc(100% - 20px);
  }
}
li:hover {
  box-shadow: 0.5em 0 2em 0 red;
  transform: scale(1.03);
}
